.o-credits {

    background-color: white;

    &.--type {

        &-site {

            display: none;

            @include media('>small') {
                display: block;
            }

        }

        &-post {

            display: block;

            @include media('>small') {
                display: none;
            }

        }
    }

}
